@font-face {
    font-family: 'sd-icon'; /* project id 2338269 */
    src: url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.eot');
    src: url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.woff') format('woff'),
        url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2338269_qurhyzjze8r.svg#base-icon') format('svg');
}

.base-icon {
    font-family: 'sd-icon' !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: '\e613';
}

.icon-scan-qrcode:before {
    content: '\e659';
}

.icon-map:before {
    content: '\e611';
}

.icon-bills:before {
    content: '\e67a';
}

.icon-feedback:before {
    content: '\e62c';
}

.icon-wechart:before {
    content: '\e7d6';
}

.icon-alipay:before {
    content: '\e610';
}

.icon-back-off:before {
    content: '\e60f';
}

.icon-pungency:before {
    content: '\e62b';
}

.icon-dish:before {
    content: '\e66f';
}

.icon-tag:before {
    content: '\e60d';
}

.icon-add:before {
    content: '\e683';
}

.icon-carema:before {
    content: '\e608';
}

.icon-image:before {
    content: '\e609';
}

.icon-volume-plus:before {
    content: '\e67b';
}

.icon-video:before {
    content: '\e693';
}

.icon-subtract:before {
    content: '\e60b';
}

.icon-download:before {
    content: '\e60e';
}

.icon-upload:before {
    content: '\f989';
}

.icon-clock:before {
    content: '\e601';
}

.icon-help-circle:before {
    content: '\e74f';
}

.icon-map-pin:before {
    content: '\e616';
}

.icon-download-cloud:before {
    content: '\e699';
}

.icon-check:before {
    content: '\e60c';
}

.icon-add-circle:before {
    content: '\e600';
}

.icon-trash:before {
    content: '\e772';
}

.icon-reload:before {
    content: '\e8f3';
}

.icon-loading-1:before {
    content: '\e966';
}

.icon-loading-2:before {
    content: '\e603';
}

.icon-subtract-circle:before {
    content: '\e716';
}

.icon-loading-3:before {
    content: '\e60a';
}

.icon-alert-circle:before {
    content: '\e682';
}

.icon-lock:before {
    content: '\e62a';
}

.icon-check-cricle:before {
    content: '\e66e';
}

.icon-calendar:before {
    content: '\f982';
}

.icon-search:before {
    content: '\e602';
}

.icon-arrow-up:before {
    content: '\e605';
}

.icon-shopping-car:before {
    content: '\e6f2';
}

.icon-shopping-car-fill:before {
    content: '\e612';
}

.icon-chevron-up:before {
    content: '\e604';
}

.icon-close:before {
    content: '\e606';
}

.icon-close-circle:before {
    content: '\ee78';
}

.icon-share:before {
    content: '\e748';
}

.icon-phone:before {
    content: '\e607';
}

.icon-upload-cloud:before {
    content: '\e620';
}

.icon-arrow-right:before {
    content: '\f983';
}

.icon-arrow-down:before {
    content: '\f984';
}

.icon-arrow-left:before {
    content: '\f985';
}

.icon-chevron-right:before {
    content: '\f986';
}

.icon-chevron-down:before {
    content: '\f987';
}

.icon-chevron-left:before {
    content: '\f988';
}
